*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    direction: rtl;
    padding: 2rem;
}
select {
    width: 100%;
    height: 50px;
    margin-bottom: 3rem;
    padding: 1rem;
}
section,table {
    padding-block: 1rem;
    border-bottom: 1px solid black;
}
section.header {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    padding-block: 1rem;
}
section.clock {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.timing {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.timing div {
    text-align: center;
    padding: 1rem;
}
.timing div > * {
    margin-block: 1rem;
}